*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

body ul{
    padding-left: 30px;    
}

body li{
    list-style: none;
    text-align: left;
}

.container {
    max-width: 1200px;
    padding: 0;
}

.container-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para las cajas de contenido */
.content-box {
    padding: 20px;
    color: white;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

/* Imágenes de fondo para cada sección */
.bg-image1 {
    background-image: url('../img/image1.jpg');
}

.bg-image2 {
    background-image: url('../img/image2.jpg');
}

.bg-image3 {
    background-image: url('../img/image3.jpg');
}

.page-title{
    background: #72717188;
    padding: 10px 15px;
    border-radius: 8px;
}

.back-button{
    margin-top: 10px;
    margin-left: 10px;
}

.body-page{
    margin-bottom: 30px;
}

.modal-body img{
    width: 100%;
}

.integrantes-equipo{
    display: block;
}

.integrantes-equipo hr{
    margin: 20px 0;
    background-color: gray;
    border: none;
    height: 3px;
}

.integrante{
    width: 100%;
    display: block;
}

.integrante h6{
    margin-top: 20px;
}

.integrante-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.int-img{
    width: 20%;
}

.int-info{
    width: 70%;
}

.int-img img{
    width: 100%;
}

.acuerdo-trabajo{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.acuerdo-trabajo img{
    width: 60%;
    margin: 0 auto;
}

/** Análisis **/
.bg2-image1 {
    background-image: url('../img/aEstrategico.jpg');
}

.bg2-image2 {
    background-image: url('../img/aEntorno.jpg');
}

.bg2-image3 {
    background-image: url('../img/aCapacidad.jpg');
}

.valores ul li,
.entorno ul li,
.capacidades ul li{
    list-style: disc;
}

.entorno-img,
.capacidades-img,
.grafico{
    display: flex;
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.entorno-img img,
.grafico img{
    width: 100%;
    height: auto;
}

.capacidades-img img{
    max-width: 600px;
    margin: auto;
}

/**Formulacion**/
.bg3-image1 {
    background-image: url('../img/DOFA.jpg');
}

.bg3-image2 {
    background-image: url('../img/objetivos.jpg');
}

.bg3-image3 {
    background-image: url('../img/tacticas.jpg');
}

.bg3-image4 {
    background-image: url('../img/brief.jpg');
}

.brief-gerencial,
.objetivos-estrategicos{
    margin: 10px;
}

.brief-gerencial ol li,
.objetivos-estrategicos ol li{
    list-style: decimal;
    margin-left: 18px;
}

.brief-gerencial ul li,
.objetivos-estrategicos ul li{
    list-style: disc;
}
